* {
    box-sizing:border-box;
}
body, html{
    height:100%;
    margin:0;
    }
body {
    padding:10px;
    text-align:center;
}
body, input, button, textarea {
    font-family: 'Roboto', sans-serif;
    color:#555;
}
.h-100 {
    height:100%;
}
a {
    color:inherit;
    text-decoration:none;
}
body .hide {
    display:none!important;
}
$box-shadow: 0 0 5px rgba(0,0,0,0.5);
$border-radius: 4px;
$ctrlh:40px;
    
$c1:#f44336;
$c2:#e91e63;
$c3:#9c27b0;
$c4:#673ab7;
$c5:#3f51b5;
$c6:#2196f3;
$c7:#03a9f4;
$c8:#00bcd4;
$c9:#009688;

.app-list a:nth-of-type(1) div {
    background:$c1;
}
.app-list a:nth-of-type(2) div {
    background:$c2;
}
.app-list a:nth-of-type(3) div {
    background:$c3;
}
.app-list a:nth-of-type(4) div {
    background:$c4;
}
.app-list a:nth-of-type(5) div {
    background:$c5;
}
.app-list a:nth-of-type(6) div {
    background:$c6;
}
.app-list a:nth-of-type(7) div {
    background:$c7;
}
.app-list a:nth-of-type(8) div {
    background:$c8;
}


.br {
    border-radius:$border-radius;
}
.bs {
    box-shadow:$box-shadow;
}
.ib {
    display:inline-block;
    vertical-align:top;
}
.ani5, .form-control, .btn {
    transition:all .5s ease-in-out;
}
.ani1 {
        transition:all .1s linear;
}
.tb {
    display:table!important;
    width:100%;
}
.tb > * {
    display:table-cell!important;
    vertical-align:middle;
}

/*device*/



#device {
    padding:1vw;
    border-radius:1vw;
    background:#000;
}
.landscape #device {
    padding:1vw 7vw;
}
.portrait #device {
    padding:7vh 1vh;
}

#screen {
    padding:1vw;
    position:relative;
    overflow:hidden;
}
.app {
    transform:scale(0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*home*/

.home #home {
    transform:scale(1);

}
.app-list {
    font-size:0;
}
.app-list a {
    width:100px;
    font-size:12px;
    background:#fff;
    margin:5px;
    padding-bottom:5px;
    overflow:hidden;
}
.app-list a:hover {
    -webkit-filter: contrast(130%);
    box-shadow:0 0 8px rgba(0,0,0,1);
    color:#000;

}
.app-list a div {
    width:100px;
    height:100px;
    background:#00ff90;
    color:#fff;
    line-height:100px;
    font-size:50px;
    margin:0 auto 5px;
    border-radius:4px 4px 0 0;
}


/*browser*/

.browser #browser {
    transform:scale(1);
    background: #fff;
}
#browser {
    background: $c1;
    #browser-window {
        height: calc(100% - 40px);
        iframe {
            height: 100%;
            width: 100%;
            border: none;
        }
    }
    .btn {
        width: $ctrlh;
    }
    #nav-bar #search-field:focus {
        position:absolute;
        left:0;
        top:0;
        z-index:1;
    }
}

.form-control, .btn {
    border:none;
    height:$ctrlh;
    line-height:$ctrlh;
    min-width:$ctrlh;
    width:100%;
    position:relative;
    box-shadow:inset 0 0 0 0 #fff, inset 0 0 0 -20px rgba(0,0,0,0);
}
.form-control:hover, .btn:hover {
    box-shadow:inset 0 0 0 0 #fff, inset 0 0 0 20px rgba(0,0,0,0.1);
    color:#000;
}
.form-control:focus, .btn:focus {
    box-shadow:inset 0 0 0 1px #fff, inset 0 0 0 2px rgba(0,0,0,0.2);
    color:#000;   
}
:focus {
    outline:none;
}
.form-control {
    padding:0 0 0 8px;
}
.btn {
    display:inline-block;
}



/*scroll bar*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 10px 0 0 0 rgba(0,0,0,0.5); 
}
.portrait ::-webkit-scrollbar {
    width: 0;
}
.portrait ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 4px 0 0 0 rgba(0,0,0,0.5); 
    width:4px;
}

/*tdos*/

#tdos {
    transform:scale(1);
    color:#fff;
    font-size:40px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    line-height:1;
    height:40px;
    font-weight:100;
    letter-spacing:.1em;
    text-shadow:0 0 10px #fff;
    transform:scale(1);
}
#screen {
    background:linear-gradient(#3e464c, #151117);
}
.home #tdos {
    transform:scale(0);
}


/*camera*/

.camera #camera {
    transform:scale(1);
    background:$c2;
}

/*app cover*/
.app {
    transition: transform .5s ease-in-out;  
}
.app-cover {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
    opacity:1;
    z-index:1;
    color:#fff;
    font-size:100px;
    transition: all .25s .5s ease-in-out;  
}
.app-cover i {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width:100px;
    height:100px;
}
#browser .app-cover {
    background:$c1;
}
.apploaded .app-cover {
    opacity:0;
    z-index:-1;
}